@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Account>
@{
    ViewData["Title"] = "Accounts";
}

<h4>Accounts</h4>
<a href="~/Accounts/Addition" class="btn border">Add new</a>
<a href="~/Crud/Index" class="btn border">Back</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Account acnt in Model)
        {
            <tr>
                <td>@acnt.Id</td>
                <td>@acnt.UserName</td>
                <td>@acnt.Role?.Title</td>
                <td>
                    <a href="~/Accounts/Deletion/@acnt.Id" class="btn border">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>