@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Account>

@{
    ViewData["Title"] = "Roles";
}


<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h4>Accounts</h4>

    <a href="~/Crud/Index" class="btn border">Back</a>

    <table class="table mt-2">

        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var acnt in Model)
            {
                <tr>
                    <td>@acnt.Id</td>
                    <td>@acnt.UserName</td>
                    <td>@acnt.Role?.Name</td>
                    <td>
                        @if (acnt.Role?.Name != "admin")
                        {
                            <a href="~/Crud/ChangeAccountAuthorisation/@acnt.Id" class="btn border">Set as admin</a>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>
</html>